:root {
    --background-color: hsl(0, 0%, 8%);
    --primary-color: hsl(0, 0%, 20%);
    --secondary-color: hsl(0, 0%, 12%);
    --highlight-color: hsl(75, 94%, 57%);
    --white-color: hsl(0, 0%, 100%);
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf)
}

body {
    background-color: var(--background-color);
    font-family: inter, 'Segoe UI', sans-serif;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 0.75rem;
    padding: clamp(1.5rem, calc(0.5rem + 5vw) ,2.5rem);
    width: 91%;
    max-width: 24rem;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

h2 {
    margin: 0;
    font-weight: 400;
    line-height: 2.25rem;
}

address {
    color: var(--highlight-color);
    font-style: normal;
    font-weight: 600;
    font-size: small;
    line-height: 1.3rem;
}

article {
    margin: 0;
    width: 100%;
}

.profile-about {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.profile-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

button:hover, button:focus, button:focus-visible, button:focus-within {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    cursor: pointer;
}